---
---

body {
  font-family: 'MisoRegular', Helvetica, sans-serif;
  background: #f3e6ea url(../images/978-grid.png) repeat-y center top;
}

a {
  text-decoration:none;
}

a:hover {
  color:#486078;
}

@import 'site/header';
@import 'site/main';
@import 'site/footer';
