---
---
!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml", :class => "no-js"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}/
    %title Stafford Brunk's Blog
  %body
    %h3 Hi, I am Stafford Brunk
