div#header-container {
  header{
    font-size:21px;
    color:#7F7F7F;
    line-height:24px;

    span {
      a, a:hover {
        color:#4c4c4c;
      }
    }

    nav#primary_nav {
      display:block;
      margin-left:-321px;
      margin-bottom:30px;
      width:642px;
      position:fixed;
      top:0px;
      padding:5px;
      left:50%;
      background: url(../images/background.png) repeat;
      font-size:26px;
      text-align:center;

      ul {
        list-style:none;

        li {
          display:inline-block;

          a {
            font-family:'MisoLight';
            color:#5d5d5d;
          }

          a:hover {
            color:#222;
          }
        }
      }
    }

    nav#secondary_nav {
      position:fixed;
      left:10px;
      top:5px;
      vertical-align:baseline;

      ul#picnav {
        li {
          font-size:14px;
            vertical-align:middle;

          a {
            color:#a7b6b6;
            float:left;
            clear:both;
            display:block;
            height:18px;
            width:18px;
            margin:0.25em 0;
            padding:0.25em 0.25em 0.25em 0;

            img {
              $icon_size:18px;
              height:$icon_size;
              width:$icon_size;
            }
          }

          div.slideout_title {
            font-family:'MisoRegular';
            margin-left: 0.25em;
            float:left;
            margin-top:0.45em;
            width:8.1em;
          }
        }
      }
    }

    section#about_me {
      position:fixed;
      right:10px;
      top:10px;

      img {
        height:116px;
        width:116px;
        border:1px solid #ababab;
        $border: 5px;
        -moz-border-radius: $border;
        -webkit-border-radius: $border;
        border-radius: $border;
        //padding:3px;
        background:#ffffff;
      }

      div#me {
          text-align:right;
          width:100px;
          margin:0 0 0 auto;
        a {
          font-size:30px;
          font-weight:bold;
          font-family:"Qlassik"
        }

        p {
          font-size:11.5px;
          font-family:"Puritan20Normal";
          line-height:15px;
        }
      }
    }
  }
}
