div#main {
  margin-top:75px;

  article.post {
    width: 642px;
    margin:45px auto 55px;
    font-size:15px;
    line-height:18px;

    header {
      border-bottom:1px solid #dddddd;
      font-size:26px;

      h2 {
        color:#607890;

        span.light {
          font-family:'MisoLight';
          color:#5D5D5D;
        }

        a:hover {
          color:#607890;
        }
      }
    }

    img.post_image {
      display:block;
      margin:0 auto;
    }

    ul#post_list {
      margin-top:10px;
      margin-left:10px;

      li {
        font-size:18px;
        display:block;
        margin-bottom:10px;
      }
    }

    p {
      font-family:'Puritan20Normal';
      margin:12px 0px;
      font-size:16px;
      line-height:20px;
    }

    footer {
      border-top:1px solid #dddddd;
      font-size:16px;

      ul {
        list-style:none;
        text-align:right;

        li {
          display:inline-block;
        }
      }
    }
  }
}
